.text {
  display: block;
  line-height: 0.9;
  letter-spacing: -0.06em;
  transform-style: preserve-3d;
}

.line {
  display: block;
  //overflow: hidden;
  transform-style: preserve-3d;
}

.word {
  display: inline-block;
  white-space: nowrap;
  transform-style: preserve-3d;
}

.char {
  display: inline-block;
  transform-style: preserve-3d;
  //backface-visibility: hidden;
}
